
header {
	background: pink;
	height: 100px;
	width: 100%;
	border: 2px solid black;
}

.section_mid {
	background: purple;
	border: 1px solid blue;
	padding: 20px;
	margin: 15px;
	height: 300px;
	width: 52%;
	float: left;
	
}

.aside {
	background: yellow;
	border : 1px solid red;
	padding: 20px;
	margin: 15px;
	height: 300px;
	width: 32%;
	float: right;
}

footer {
	background: green;
    border: 1px solid orange;
	height: 100px;
	width: 100%;
	clear: both;

}